venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class

*.so
*.dll
*.dylib

db.sqlite3
db.sqlite3-journal

.env
.env.*

*.log

.cache/
.pytest_cache/
.mypy_cache/

media/
staticfiles/

*.tmp
*.temp

.vscode/

.idea/

Thumbs.db
Desktop.ini

.DS_Store

*.bak
*.swp

htmlcov/
.coverage
coverage.xml

node_modules/

dist/
build/

**/migrations/*.pyc

nosetests.xml

.ipynb_checkpoints/

local_settings.py

__pycache__/
*.py[cod]