{% extends 'base.html' %}

{% block content %}

<h2>📄 Detalle del Reclamo</h2>

<div class="card detalle-card">

    <div class="detalle-item">
        <strong>Reclamo:</strong>
        <span>{{ nombre }}</span>
    </div>

    <div class="detalle-item">
        <strong>Tipo:</strong>
        <span>{{ tipo }}</span>
    </div>

    <div class="detalle-item">
        <strong>Estado:</strong>
        <span>{{ estado }}</span>
    </div>

    <div class="detalle-item">
        <strong>Prioridad:</strong>
        <span>{{ prioridad }}</span>
    </div>

    <div class="detalle-item">
        <strong>Descripción:</strong>
        <span>{{ descripcion }}</span>
    </div>

    <div class="detalle-item">
        <strong>Responsable:</strong>
        <span>{{ responsable }}</span>
    </div>

    <div class="detalle-item">
        <strong>Fecha:</strong>
        <span>{{ fecha }}</span>
    </div>

</div>

{% endblock %}
