{% extends 'base.html' %}

{% block content %}

<h2>📄 Detalle del Reclamo</h2>

<div class="card detalle-card">

    <div class="detalle-item">
        <strong>Tipo:</strong>
        <span>Administrativo</span>
    </div>

    <div class="detalle-item">
        <strong>Estado:</strong>
        <span>Pendiente</span>
    </div>

    <div class="detalle-item">
        <strong>Prioridad:</strong>
        <span>Alta</span>
    </div>

    <div class="detalle-item">
        <strong>Descripción:</strong>
        <span>Error en pagos institucionales.</span>
    </div>

</div>

{% endblock %}