{% extends 'base.html' %}

{% block content %}

<h2>📋 Registrar Reclamo</h2>

<form method="POST" class="form-reclamo">

    {% csrf_token %}

    <input type="text"
           name="nombre"
           placeholder="Ingrese el nombre del reclamo"
           required>

    <select name="categoria" required>

        <option value="">Seleccione una categoría</option>

        <option value="Academico">
            Académico
        </option>

        <option value="Administrativo">
            Administrativo
        </option>

        <option value="Tecnico">
            Técnico
        </option>

    </select>

    <textarea name="descripcion"
              placeholder="Descripción del reclamo"
              required></textarea>

    <button type="submit">
        Guardar Reclamo
    </button>

</form>

{% if mensaje %}
    <p class="mensaje">{{ mensaje }}</p>
{% endif %}

{% endblock %}